
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0d1!important	;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#note-search{
  
   
    border-radius: 10px;
}

.colored{
  color: #007bff;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold ;
}
.note-lead{
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: black;
    white-space: nowrap;
    vertical-align: baseline;
}
.all-notes{
  overflow-x: auto;
}
.note-body{
  max-height: 750px;
  overflow-x: auto;
}
.footer{
  margin-top: 230px;
}
@media only screen and (max-width: 900px) {
  .footer{
    margin-top: 0px;
  }
}
@media only screen and (max-width: 1200px) {
  .footer{
    margin-top: 125px;
  }
}